package components

templ PageTitle(title string) {
<div class="w-full fading-border-t fading-border-b py-4">
	<div class="container">
		<h1 class="text-3xl font-semibold text-gray-900">{ title }</h1>
		<div class="h-1 w-10 bg-primary rounded"></div>
	</div>
</div>
}
